﻿@model Ecommerce2.Models.OrderViewModel

@{
    ViewBag.Title = "CreateOrder";
}

@section other{
    <link href="~/Content/Order.css" rel="stylesheet" />
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br /><br /><br />
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
            <div class="box">
                <h3 class="box-title">Order Information</h3>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Select your Address</label>
                        @Html.DropDownList("Address", new SelectList(Model.addresses, "AddressID", "AddressDesc"), "Select Address", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.addresses, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Firstname</label>
                        <p class="plan-text">
                            @Html.DisplayFor(model => model.user.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Lastname</label>
                        <p class="plan-text">
                            @Html.DisplayFor(model => model.user.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Email</label>
                        <p class="plan-text">
                            @Html.DisplayFor(model => model.user.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Phone</label>
                        <p class="plan-text">
                            @Html.DisplayFor(model => model.user.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
            </div>
            <div class="box">
                <h3 class="box-title">Products</h3>
                @foreach (var items in Model.cartItems)
                {
                    <div class="plan-selection">
                        <div class="plan-data" align="center">
                            <img src="@Url.Content(items.Product.Images.First().ImagePath)" style="width:120px;height:120px;" />
                        </div>
                    </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <p class="plan-text">
                                    <label for="question3">Product Name</label>
                                </p>
                                <p class="plan-text">
                                    @Html.DisplayFor(modelItem => items.Product.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                </p>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <p class="plan-text">
                                    <label for="question3">Product Price</label>
                                </p>
                                <p class="plan-text">
                                    @Html.DisplayFor(modelItem => items.Product.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                                </p>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <p class="plan-text">
                                    <label for="question3">Product Color</label>
                                </p>
                                <p class="plan-text">
                                    @Html.DisplayFor(modelItem => items.Product.ProductColor, new { htmlAttributes = new { @class = "form-control" } })
                                </p>
                            </div>
                        </div>
                        <div class="plan-selection">
                            <div class="plan-data">
                                <p class="plan-text">
                                    <label for="question3">Product Description</label>
                                </p>
                                <p class="plan-text">
                                    @Html.DisplayFor(modelItem => items.Product.ProductDesc, new { htmlAttributes = new { @class = "form-control" } })
                                </p>
                            </div>
                        </div>
                }
            </div>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
            <div class="widget">
                <h4 class="widget-title">Total</h4>
                <div class="summary-block">
                    <div class="summary-content">
                        <div class="summary-price">
                            <p class="summary-text">
                               <strong>@Html.DisplayFor(model => model.Total, new { htmlAttributes = new { @class = "form-control" } })</strong>
                            </p> 
                        </div>
                    </div>
                </div>
                <div class="summary-block">
                    <div class="summary-content">
                        <div class="summary-price">
                            <input class="btn btn-primary btn-lg mb30" value="Create" type="submit" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancel", "Products", "Product", null, new { @class = "btn btn-danger btn-lg" })
</div>
