﻿@model IEnumerable<Ecommerce2.Models.Order>

@{
    ViewBag.Title = "Orders";
}
@section other{

    <link href="~/Content/Order.css" rel="stylesheet" />
}
<br /><br /><br />
<h3 class="box-title" style="margin-left:470px;">My Orders</h3>
@foreach (var item in Model)
{
    <div class="row" style="margin-left:200px;">
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
            <div class="box">

                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Name</label>
                        <p class="plan-text">
                            @Html.DisplayFor(modelItem => item.Users.Firstname)
                            @Html.DisplayFor(modelItem => item.Users.Lastname)
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Total Amount</label>
                        <p class="plan-text">
                            @Html.DisplayFor(modelItem => item.Total)
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Order Date</label>
                        <p class="plan-text">
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </p>
                    </div>

                </div>
            </div>
            <p class="plan-text">
                @Html.ActionLink("Order Detail", "OrderDetail", "Order", new { id = item.OrderID }, new { @class = "btn btn-info" })
            </p>
            <br />
        </div>

    </div>
}

