﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>

                @Html.ActionLink("Application name", "Products", "Product", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">

                        @Html.ActionLink("Products", "Products", "Product", null, new { @class = "nav-link" })
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right mr-3">


                    <li class="nav-item">

                        @Html.ActionLink("Cart", "Index", "Cart", null, new { @class = "nav-link" })
                    </li>

                    @if (Request.IsAuthenticated)
                    {

                        <li class="nav-item">

                            @Html.ActionLink("Log Out", "Logoff", "Login", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Details","User")" class="nav-link">
                                <span class="glyphicon glyphicon-user"> @Html.Encode(User.Identity.Name)</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">

                            @Html.ActionLink("Register", "Create", "User",null,new { @class= "nav-link" })
                        </li>
                        <li class="nav-item">

                            @Html.ActionLink("Log in", "Login", "Login", null, new { @class = "nav-link" })
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br /><br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("other", false)
</body>
</html>
