﻿@model Ecommerce2.Models.ProductDetailViewModel

@{
    ViewBag.Title = "Details";
}

@section other
{
    <link href="~/Content/ProductDetail.css" rel="stylesheet" />
}

<div class="card">
    <div class="container-fliud">
        <div class="wrapper row">
            <div class="col-md-6">
                <div id="myCarousel" class="carousel slides tab-content" data-ride="carousel"  ">
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        @{int i = 0;}
                        @foreach (var items in Model.images)
                        {
                            i++;
                            var active = i == 1 ? "active" : "";
                            <div class="carousel-item @active" style="margin-left:20px;">
                                <img class="img-responsive" src="@Url.Content(items.ImagePath)" alt="ProductImage" style="width: 413px;height: 260px;" />
                            </div>
                        }
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev"">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="details col-md-6">
                <h3 class="product-title">@Html.DisplayFor(model => model.product.ProductName)</h3>
                <h6 class="product-title">@Html.DisplayFor(model => model.product.ProductBrand)</h6>
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="review-no">41 reviews</span>
                </div>
                <p class="product-description">@Html.DisplayFor(model => model.product.ProductDesc)</p>
                <h4 class="price">current price: <span>@Html.DisplayFor(model => model.product.ProductPrice)</span></h4>
                <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                <h5 class="colors">
                    colors:
                    <span>@Html.DisplayFor(model => model.product.ProductColor)</span>
                </h5>
                <div class="action">
                    @Html.ActionLink("Add to cart", "AddChart", "Cart", new { id = Model.product.ProductID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Back to List", "Products", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#myCarousel").carousel({
                interval: 2000
            });
            // Enable Carousel Controls
            $(".carousel-control-prev").click(function () {
                $("#myCarousel").carousel("prev");
            });
            $(".carousel-control-next").click(function () {
                $("#myCarousel").carousel("next");
            });
        });
    </script>

}