﻿@model  Ecommerce2.Models.ProductViewModel

@{
    ViewBag.Title = "Products";
}
@section other
{

    <link href="~/Content/product.css" rel="stylesheet" />
    <link href="~/Content/Carousel.css" rel="stylesheet" />
}



@using (Html.BeginForm("Products", "Product", FormMethod.Get))
{

    <div class="row">
        <div class="col-lg-3">
            @Html.TextBox("id", "", "", new { @class = "form-control" })
        </div>
        <div class="col-lg-3">
            @Html.DropDownList("category", new SelectList(Model.categories, "CategoryID", "CategoryName"), "Select Category", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-lg-3">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </div>

}

@*<div class="row">
    <div class="col-md-12">
        <h2>Trending <b>Products</b></h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">

                    @foreach (var items in Model.products)
                    {
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <div class="img-box">
                                        <img src="@Url.Content(items.Images.First().ImagePath)" class="img-responsive img-fluid" alt="">
                                    </div>
                                    <div class="thumb-content">
                                        <h4>@Html.DisplayFor(modelItem => items.ProductBrand)</h4>
                                        <p class="item-price">
                                            <span>
                                                <i class="fa fa-turkish-lira"></i>
                                                @Html.DisplayFor(modelItem => items.ProductPrice)
                                            </span>
                                        </p>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>*@

<div class="row">

    @foreach (var items in Model.products)
    {
        <div class="col-12 col-lg-6 bootstrap snippets">
            <!-- product -->
            <div id="products" class="product-content product-wrap clearfix">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <div class="product-image">

                            @*@if (items.Images.FirstOrDefault().ImagePath == null)
                                {
                                    <img class="img-fluid" src="~/Content/Images/no-image-icon-6.png" style="width:400px;height:200px;" alt="ProductImage" />
                                }
                                else
                                {*@
                            <img class="img-fluid" src="@Url.Content(items.Images.First().ImagePath)" alt="ProductImage" style="width:400px;height:200px;">
                            @*}*@
                            <span class="tag2 hot">
                                HOT
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="product-detail">
                            <h5 class="name">
                                @Html.DisplayFor(modelItem => items.ProductName)
                            </h5>
                            <h6>@Html.DisplayFor(modelItem => items.ProductBrand)</h6>
                            <p class="price-container offset-sm-5">
                                <span>@Html.DisplayFor(modelItem => items.ProductPrice) <i class="fa fa-turkish-lira"></i></span>
                            </p> <span class="tag1"></span>
                        </div>
                        <div class="description">
                            <p>@Html.DisplayFor(modelItem => items.ProductDesc)</p>
                        </div>
                        <div class="product-info smart-form">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-6">
                                    @Html.ActionLink("Add to cart", "AddChart", "Cart", new { id = items.ProductID }, new { @class = "btn btn-success" })&nbsp;
                                </div>
                                <div class="col-lg-7 col-md-7 col-6">
                                    &nbsp;@Html.ActionLink("Product Detail", "Details", "Product", new { id = items.ProductID }, new { @class = "btn btn-info" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });
    </script>

}