﻿@using Ecommerce2.Models
@model CartViewModel

@{
    ViewBag.Title = "Index";
}


@section other{

    <link href="~/Content/Cart.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-8" style="margin-left:175px;">
        <div class="card text-white bg-info">
            <div class="card-header">
                <div class="card-title">
                    <div class="row">
                        <div class="col-6">
                            <h5><span class="fa fa-shopping-cart"></span> Shopping Cart</h5>
                        </div>
                        <div class="col-6">
                            <a href="@Url.Action("Products","Product")" type="button" class="btn btn-primary btn-sm btn-block"><span class="fa fa-share"> </span> Continue shopping</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @foreach (var item in Model.cartItems)
                {
                    <div class="row">
                        <div class="col-2">
                            <img class="image-responsive" src="@Url.Content(item.Product.Images.First().ImagePath)" style="width:100px; height:100px" />
                        </div>
                        <div class="col-4">
                            <h4 class="product-name"><strong>@Html.DisplayFor(modelItem => item.Product.ProductName)</strong></h4>
                            <h4><small>@Html.DisplayFor(modelItem => item.Product.ProductBrand)</small></h4>
                            <h6><small>@Html.DisplayFor(modelItem => item.Product.ProductDesc)</small></h6>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <h6><strong>@Html.DisplayFor(modelItem => item.Product.ProductPrice)<span class="text-muted">x</span></strong></h6>
                                </div>
                                <div class="col-4">@Html.EditorFor(model => item.Count, new { htmlAttributes = new { @class = "form-control input-sm" } })</div>
                                <div class="col-3">
                                    <a href="@Url.Action("RemoveFromCart","Cart",new { id = item.RecordID},null)" type="button" class="btn btn-link btn-xs"><span class="fa fa-trash"> </span></a>
                                </div>
                            </div>
                            

                        </div>

                    </div>

                    <hr>
                }

            </div>

            <div class="card-footer ">

                <div class="row text-center ">

                    <div class="col-9 ">

                        <h4 class="text-right ">Total <strong>@Html.DisplayFor(model => model.Total)</strong></h4>

                    </div>

                    <div class="col-3 ">

                        @Html.ActionLink("Check Out", "Payment", "Cart", new { @class = "btn btn-primary" })

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

