﻿@model IEnumerable<Ecommerce2.Models.Address>

@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section other{
    
<link href="~/Content/Address.css" rel="stylesheet" />
    
}

<h2 class="title" align="center"><span class="fa fa-address-book"></span> Addresses</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class=" col-12 offset-sm-2 col-md-8 ">
            <ul class="event-list" style="height:160px;">
                <li style="height:170px;">
                    <div class="info" style="height:170px;">

                        <p class="desc">City	: @Html.DisplayFor(modelItem => item.City)</p>
                        <p class="desc">Country : @Html.DisplayFor(modelItem => item.Country)</p>
                        <p class="desc">State	: @Html.DisplayFor(modelItem => item.State)</p>
                        <p class="desc">Postal Code : @Html.DisplayFor(modelItem => item.PostalCode)</p>
                        <p class="desc">Address Description :@Html.DisplayFor(modelItem => item.AddressDesc)</p>

                    </div>
                    <div class="social">
                        <ul>
                            <li class="facebook" style="width:33%;"><a href="@Url.Action("Edit","Address",new { id = item.AddressID})"><span class="fa fa-edit"></span></a></li>
                            <li class="twitter" style="width:34%;"><a href="@Url.Action("Create","Address")"><span class="fa fa-plus"></span></a></li>
                            <li class="google-plus" style="width:33%;"><a href="@Url.Action("Delete","Address",new { id = item.AddressID},null)"><span class="fa fa-trash"></span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br /><br />
}
