﻿@model Ecommerce2.Models.ProductCreateViewModel

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section other{
    <link href="~/Content/Order.css" rel="stylesheet" />
    <link href="~/Content/summernote-bs4.css" rel="stylesheet" />
}


@using (Html.BeginForm("CreateProduct","Admin",null,FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12" style="margin-left:220px;">
            <div class="box">
                <h3 class="box-title" align="center">Create Product</h3>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Select Category</label>
                        @Html.DropDownList("category", new SelectList(Model.categories, "CategoryID", "CategoryName"), "Select Category", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Product Brand</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.product.ProductBrand, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.product.ProductBrand, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Product Name</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.product.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.product.ProductName, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Product Description</label>
                        <p class="plan-text">
                            @Html.TextAreaFor(model => model.product.ProductDesc, new { htmlAttributes = new { @class = "form-control ", @row= 15 }})
                            @Html.ValidationMessageFor(model => model.product.ProductDesc, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Product Price</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.product.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.product.ProductPrice, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Product Color</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.product.ProductColor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.product.ProductColor, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Product Image</label>
                        <p class="plan-text">
                            <input id="files" title="Upload a product image" type="file" name="files" multiple />
                            @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                        </p>
                        <p>
                            <input type="submit" value="Create" class="btn btn-outline-primary" />
                            @Html.ActionLink("Back to List", "ListProduct", "Product", new { @class = "btn btn-outline-danger" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>

        tinymce.init({selector : 'textarea'});
    </script>    
}