﻿@model Ecommerce2.Models.OrderDetailViewModel

@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section other{
    <link href="~/Content/Order.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
        <div class="box">
            <h3 class="box-title">Order Information</h3>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">Full Name</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Users.Firstname) @Html.DisplayFor(model => model.order.Users.Lastname)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">Email</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Users.Email)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">Phone</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Users.Phone)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">City</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Address.City)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">Country</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Address.Country)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">State</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Address.State)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">Postal Code</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Address.PostalCode)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">Address Description</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.Address.AddressDesc)
                    </p>
                </div>
            </div>
            <div class="plan-selection">
                <div class="plan-data">
                    <label for="question3">Order Date</label>
                    <p class="plan-text">
                        @Html.DisplayFor(model => model.order.OrderDate)
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <h3 class="box-title">Products</h3>
            @foreach (var items in Model.orderDetails)
            {
                <div class="plan-selection">
                    <div class="plan-data" align="center">
                        <img src="@Url.Content(items.Product.Images.ImagePath)" style="width:120px;height:120px;" />
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <p class="plan-text">
                            <label for="question3">Product Name</label>
                        </p>
                        <p class="plan-text">
                            @Html.DisplayFor(modelItem => items.Product.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <p class="plan-text">
                            <label for="question3">Product Price</label>
                        </p>
                        <p class="plan-text">
                            @Html.DisplayFor(modelItem => items.Product.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <p class="plan-text">
                            <label for="question3">Product Color</label>
                        </p>
                        <p class="plan-text">
                            @Html.DisplayFor(modelItem => items.Product.ProductColor, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <p class="plan-text">
                            <label for="question3">Product Description</label>
                        </p>
                        <p class="plan-text">
                            @Html.DisplayFor(modelItem => items.Product.ProductDesc, new { htmlAttributes = new { @class = "form-control" } })
                        </p>
                    </div>
                </div>
            }
            <p>
                @Html.ActionLink("Back to My Order List", "ListOrders", "Admin", null, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Back to My Order List", "EditOrder", "Admin", new { id = Model.order.OrderID }, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
        <div class="widget">
            <h4 class="widget-title">Total</h4>
            <div class="summary-block">
                <div class="summary-content">
                    <div class="summary-price">
                        <p class="summary-text">
                            <strong> @Html.DisplayFor(model => model.order.Total)</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>