﻿@model Ecommerce2.Models.ProductDetailViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "DetailProduct";
}

<div class="card">
    <div class="card-header">
        <h4 align="center">@Html.DisplayFor(model => model.product.ProductName)</h4>
        <h6 align="center">@Html.DisplayFor(model => model.product.ProductBrand)</h6>
    </div>
    <div class="card-body" style="margin-left:370px;" >
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6">
                <div id="myCarousel" class="carousel slides tab-content" data-ride="carousel" >
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        @{int i = 0;}
                        @foreach (var items in Model.images)
                        {
                            i++;
                            var active = i == 1 ? "active" : "";
                            <div class="carousel-item @active" style="margin-left:20px;">
                                <img class="img-responsive" src="@Url.Content(items.ImagePath)" alt="ProductImage" style="width: 413px;height: 260px;" />
                            </div>
                        }
                    </div>
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-6">
                    <p><span class="fa fa-sort-desc"></span> @Html.DisplayFor(model => model.product.ProductDesc)</p>
                </div>

            </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-6">
                <p><span class="fa fa-turkish-lira"></span> @Html.DisplayFor(model => model.product.ProductPrice)</p>
            </div>
        </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                        <p><span class="fa fa-paint-brush"></span> @Html.DisplayFor(model => model.product.ProductColor)</p>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-6">
                        <p><span class="fa fa-object-group"></span> @Html.DisplayFor(model => model.product.Category.CategoryName)</p>
                    </div>
                </div>
       </div>
        <div class="card-footer">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.product.ProductID }, new { @class = "btn btn-outline-dark" })
                @Html.ActionLink("Back to List", "ListProduct", "Admin", new { @class = "btn btn-outline-danger" })
            </p>
        </div>  
</div>
    
@section scripts{

    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#myCarousel").carousel({
                interval: 1500
            });
            // Enable Carousel Controls
            $(".carousel-control-prev").click(function () {
                $("#myCarousel").carousel("prev");
            });
            $(".carousel-control-next").click(function () {
                $("#myCarousel").carousel("next");
            });
        });
    </script>

}