﻿@model Ecommerce2.Models.Category

@{
    ViewBag.Title = "EditCategory";
}

@section other{
    <link href="~/Content/Order.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12" style="margin-left:220px;">
            <div class="box">
                <h3 class="box-title" align="center">Edit Category</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CategoryID)
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Select Category</label>
                        @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <p>
                            <input type="submit" value="Edit" class="btn btn-outline-primary" />
                            @Html.ActionLink("Back to List", "ListCategory", "Admin", new { @class = "btn btn-outline-danger" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
