﻿@model Ecommerce2.Models.UserCreateViewModel

@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section other{
    <link href="~/Content/Order.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12" style="margin-left:220px;">
            <div class="box">
                <h3 class="box-title" align="center">Edit User</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.user.UserID)
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Select Role</label>
                        @Html.DropDownList("roles", new SelectList(Model.roles, "RoleID", "RoleName"), "Select Role", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Username</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.user.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.user.Username, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Password</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.user.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.user.Password, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Email</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.user.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Phone</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.user.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.user.Phone, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Firstname</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.user.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.user.Firstname, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <label for="question3">Lastname</label>
                        <p class="plan-text">
                            @Html.EditorFor(model => model.user.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.user.Lastname, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <div class="plan-selection">
                    <div class="plan-data">
                        <p>
                            <input type="submit" value="Edit" class="btn btn-outline-primary" />
                            @Html.ActionLink("Back to List", "ListUsers", "Admin", new { @class = "btn btn-outline-danger" })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

