﻿@model Ecommerce2.Models.ImportExcelViewModel
@{
    ViewBag.Title = "ImportExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ImportExcel</h2>

@using (Html.BeginForm("ImportExcel", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="file" name="uploadedFile" />
    @Html.ValidationMessageFor(model => model.uploadedFile, "", new { @class = "text-danger" })
    <input type="submit" value="Import Excel" class="btn btn-outline-primary" />
    <p>@ViewBag.Message</p>
}