﻿@model Ecommerce2.Models.ProductViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "ProductList";
}
@using (Html.BeginForm("ListProduct", "Admin", FormMethod.Get))
{
    <div class="row">

        <br />
        <div class="col-lg-3 col-md-3 col-3">
            @Html.DropDownList("category", new SelectList(Model.categories, "CategoryID", "CategoryName"), "Select Category", htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
                @Html.TextBox("searchString", "", "", new { @class = "form-control" })
                <span class="input-group-append">
                    <button class="btn btn-primary" value="Search" formaction="ListProduct" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-6">
            <a href="@Url.Action("CreateProduct","Admin")" class="btn btn-outline-success btn-md"><span class="fa fa-plus"></span> Add Product</a>
        </div>
        <div class="col-lg-6 col-md-6 col-6">
            @*@Html.ActionLink("Export Excel","ExportExcel","Admin",new { @class="btn btn-outline-info btn-md"})*@
            <input type="submit" value="Export Excel" formaction="ExportExcel" class="btn btn-outline-info btn-md"/>
            @*<a href="@Url.Action("ExportExcel","Admin")" class="btn btn-outline-success btn-md"><span class="fa fa-plus"></span> Export Excel</a>*@
        </div>
        <div class="col-lg-6 col-md-6 col-6">
            @Html.ActionLink("Import Excel", "ImportExcel", "Admin", new { @class = "btn btn-outline-info btn-md" })
            @*<a href="@Url.Action("ExportExcel","Admin")" class="btn btn-outline-success btn-md"><span class="fa fa-plus"></span> Export Excel</a>*@
        </div>
    </div>
}
<br />
<div class="row">
    <table class="table table-responsive-lg">
        <thead class="table-dark">
            <tr>
                <th>
                    Product Brand
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Product Description
                </th>
                <th>
                    Product Price
                </th>
                <th>
                    Product Color
                </th>
                <th>
                    Product Category
                </th>
                <th>
                    <h5 align="center">Actions</h5>
                </th>
            </tr>
        </thead>
        <tbody class="table-light">
            @foreach (var items in Model.products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => items.ProductBrand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.ProductDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.ProductPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.ProductColor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.Category.CategoryName)
                    </td>
                    <td>
                        <div class="btn-group offset-1">
                            <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("EditProduct","Admin",new { id = items.ProductID})" class="btn btn-outline-dark"><span class="fa fa-edit"></span></a></div>
                            <div class="col-lg-4 col-md-4 col-sm-4" style="width:34%;"><a href="@Url.Action("DetailProduct","Admin",new { id = items.ProductID})" class="btn btn-outline-info"><span class="fa fa-info-circle"></span></a></div>
                            <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("DeleteProduct","Admin",new { id = items.ProductID},null)" class="btn btn-outline-danger"><span class="fa fa-trash"></span></a></div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>