﻿@model IEnumerable<Ecommerce2.Models.Order>

@{
    ViewBag.Title = "ListOrders";
}

@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ListOrders", "Admin", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-4">
            <div class="form-inline my-2 my-lg-0 mr-lg-2">
                <div class="input-group">
                    @Html.TextBox("searchString", "", "", new { @class = "form-control" })
                    <span class="input-group-append">
                        <button class="btn btn-primary" value="Search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>
}
<br />
<table class="table table-responsive-lg">
    <thead class="table-dark">
        <tr>
            <th>
                <label>Firstname</label>
            </th>
            <th>
                <label>Lastname</label>
            </th>
            <th>
                <label>Address</label>
            </th>
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Phone</label>
            </th>
            <th>
                <label>Postal Code</label>
            </th>
            <th>
                <label>Total</label>
            </th>
            <th>
                <label>Order Date</label>
            </th>
            <th>
                <h5 align="center">Actions</h5>
            </th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.City)/@Html.DisplayFor(modelItem => item.Address.Country)/@Html.DisplayFor(modelItem => item.Address.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <div class="btn-group offset-1">
                        @*<div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("EditOrder","Admin",new { id = item.OrderID})" class="btn btn-outline-dark"><span class="fa fa-edit"></span></a></div>*@
                        <div class="col-lg-4 col-md-4 col-sm-4" style="width:34%;"><a href="@Url.Action("DetailOrder","Admin",new { id = item.OrderID})" class="btn btn-outline-info"><span class="fa fa-info-circle"></span></a></div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("DeleteOrder","Admin",new { id = item.OrderID},null)" class="btn btn-outline-danger"><span class="fa fa-trash"></span></a></div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>