﻿@model IEnumerable<Ecommerce2.Models.Address>
@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ListAddresses", "Admin", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-4">
            <div class="form-inline my-2 my-lg-0 mr-lg-2">
                <div class="input-group">
                    @Html.TextBox("searchString", "", "", new { @class = "form-control" })
                    <span class="input-group-append">
                        <button class="btn btn-primary" value="Search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>
}
<br />
<table class="table table-responsive-lg">
    <thead class="table-dark">
        <tr>
            <th>
                <label>Firstname</label>
            </th>
            <th>
                <label>Lastname</label>
            </th>
            <th>
                <label>City</label>
            </th>
            <th>
                <label>Country</label>
            </th>
            <th>
                <label>State</label>
            </th>
            <th>
                <label>PostalCode</label>
            </th>
            <th>
                <label>Address Description</label>
            </th>
            <th>
                <h5 align="center">Actions</h5>
            </th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressDesc)
                </td>
                <td>
                    <div class="btn-group offset-1">
                        <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("EditAddress","Admin",new { id = item.AddressID})" class="btn btn-outline-dark"><span class="fa fa-edit"></span></a></div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("DeleteAddress","Admin",new { id = item.AddressID},null)" class="btn btn-outline-danger"><span class="fa fa-trash"></span></a></div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
