﻿@model IEnumerable<Ecommerce2.Models.Users>

@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ListUsers", "Admin", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-4">
            <div class="form-inline my-2 my-lg-0 mr-lg-2">
                <div class="input-group">
                    @Html.TextBox("searchString", "", "", new { @class = "form-control" })
                    <span class="input-group-append">
                        <button class="btn btn-primary" value="Search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 col-2 offset-6">
            <a href="@Url.Action("CreateUser","Admin")" class="btn btn-outline-success btn-md"><span class="fa fa-plus"></span> Add User</a>
        </div>
    </div>
}
<br />
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                <label>Username</label>
            </th>
            <th>
                <label>Password</label>
            </th>
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Firstname</label>
            </th>
            <th>
                <label>Lastname</label>
            </th>
            <th>
                <label>Created At</label>
            </th>
            <th>
                <label>Modified At</label>
            </th>
            <th>
                <label>Role</label>
            </th>
            <th>
                <h5 align="center">Actions</h5>
            </th>
        </tr>
    </thead>
    <tbody class="table-light">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles.RoleName)
                </td>
                <td>
                    <div class="btn-group offset-1">
                        <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("EditUser","Admin",new { id = item.UserID})" class="btn btn-outline-dark"><span class="fa fa-edit"></span></a></div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="width:34%;"><a href="@Url.Action("DetailUser","Admin",new { id = item.UserID})" class="btn btn-outline-info"><span class="fa fa-info-circle"></span></a></div>
                        <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("DeleteUser","Admin",new { id = item.UserID},null)" class="btn btn-outline-danger"><span class="fa fa-trash"></span></a></div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
