﻿@model IEnumerable<Ecommerce2.Models.Category>

@{
    ViewBag.Title = "ListCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ListCategories", "Admin", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-4 col-md-4 col-4">
            <div class="form-inline my-2 my-lg-0 mr-lg-2">
                <div class="input-group">
                    @Html.TextBox("searchString", "", "", new { @class = "form-control" })
                    <span class="input-group-append">
                        <button class="btn btn-primary" value="Search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 col-2 offset-6">
            <a href="@Url.Action("CreateCategory","Admin")" class="btn btn-outline-success btn-md"><span class="fa fa-plus"></span> Add Category</a>
        </div>
    </div>
}
<br />
<div class="row">
    <table class="table table-responsive-lg">
        <thead class="table-dark">
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    <h5 class="offset-8" align="center">Actions</h5>
                </th>
            </tr>
        </thead>
        <tbody class="table-light">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        <div class="btn-group offset-9">
                            <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("EditCategory","Admin",new { id = item.CategoryID})" class="btn btn-outline-dark"><span class="fa fa-edit"></span></a></div>
                            <div class="col-lg-4 col-md-4 col-sm-4" style="width:33%;"><a href="@Url.Action("DeleteCategory","Admin",new { id = item.CategoryID},null)" class="btn btn-outline-danger"><span class="fa fa-trash"></span></a></div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>