﻿@model Ecommerce2.Models.Users

@{
    ViewBag.Title = "Details";
}
@section other
{
<link href="~/Content/User.css" rel="stylesheet" />
}

<br>
<br>
<div class="card bg-light card-body mb-3 span8 offset2">
    <div class="row-fluid user-infos cyruxx">
        <div class="span10 offset1">
            <div class="card text-white bg-primary">
                <div class="card-header">
                    <h3 class="card-title">User information</h3>
                </div>
                <div class="card-body">
                    <div class="row-fluid">
                        <div class="span3">
                            <img class="rounded-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                 alt="User Pic">
                        </div>
                        <div class="span6">
                            <strong>@Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname)</strong>
                            <br>
                            <table class="table table-sm table-responsive table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Username :</td>
                                        <td>@Html.DisplayFor(model => model.Username)</td>
                                    </tr>
                                    <tr>
                                        <td>Password :</td>
                                        <td>@Html.DisplayFor(model => model.Password)</td>
                                    </tr>
                                    <tr>
                                        <td>Phone :</td>
                                        <td>@Html.DisplayFor(model => model.Phone)</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Html.DisplayFor(model => model.Email)</td>
                                    </tr>
                                    <tr>
                                        <td>Registeration Date</td>
                                        <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                                    </tr>
                                </tbody>
                            </table>
                            @Html.ActionLink("My Addresses", "Address", "Address", new { id = Model.UserID }, new { @class = "btn btn-light" })
                            @Html.ActionLink("My Orders", "Orders", "Order", new { id = Model.UserID }, new { @class = "btn btn-light" })
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="height:50px;">
                    <span class="float-right">

                        <a href="@Url.Action("Edit","User",new { id = Model.UserID })" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-light">
                            <i class="fa fa-edit"></i>
                        </a>

                        <a href="@Url.Action("Delete","User",new { id = Model.UserID })" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-light">
                            <i class="fa fa-remove"></i>
                        </a>

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
